<template>
  <v-form
    v-loading="loading"
    ref="form"
    v-model="valid"
    lazy-validation
    class="pt-3"
    @keyup.enter.native="amendHandle">
    <v-text-field
      :rules="rules.password"
      v-model.trim="form.password"
      :error-messages="passwordMsg"
      autocomplete="off"
      label="新密码"
      required
      name="password"
      type="password"
      @blur="passwordCheck"/>
    <v-text-field
      v-model.trim="form.checkPassword"
      :error-messages="checkPasswordMsg"
      autocomplete="off"
      label="验证密码"
      required
      name="checkPassword"
      type="password"
      @input="twoPasswordCheck"
      @blur="twoPasswordCheck" />
    <v-btn
      :disabled="setPwdDisabled"
      :loading="loading"
      color="primary"
      style="float:right;"
      depressed
      @click="amendHandle">修改</v-btn>
  </v-form>
</template>
<script>
export default {
  props: {
    phone: {
      type: [String, Number],
      default: null
    }
  },
  data() {
    return {
      loading: false,
      valid: false,
      form: {
        password: '',
        checkPassword: ''
      },
      passwordMsg: '',
      checkPasswordMsg: '',
      rules: {
        password: [
          v => !!v || '请输入密码',
          v => (v && (v.length >= 6 && v.length <= 12)) || '请输入6-12位数密码',
          v => {
            if (!!this.form.checkPassword) this.twoPasswordCheck()
            return true
          }
        ]
      }
    }
  },
  computed: {
    setPwdDisabled() {
      const { password, checkPassword } = this.form
      if (checkPassword.length < 6 && checkPassword.length > 12) return true
      return checkPassword && password !== checkPassword
    }
  },
  methods: {
    passwordCheck() {
      const { password } = this.form
      if (!password) {
        this.passwordMsg = '请输入密码'
        return
      }
      if (password.length < 6 && password.length < 12) {
        this.passwordMsg = '请输入6-12位数密码'
        return
      }
      this.passwordMsg = ''
    },
    twoPasswordCheck() {
      const { password, checkPassword } = this.form
      if (!checkPassword) {
        this.checkPasswordMsg = '请输入密码'
        return
      }
      if (checkPassword.length < 6 && checkPassword.length < 12) {
        this.checkPasswordMsg = '请输入6-12位数密码'
        return
      }
      if (checkPassword !== password) {
        this.checkPasswordMsg = '两次输入密码不一致'
        return
      }
      this.checkPasswordMsg = ''
    },
    async amendHandle() {
      this.twoPasswordCheck()
      if (!this.$refs.form.validate() || this.checkPasswordMsg) return
      if (this.loading) return
      this.loading = true
      try {
        const { password } = this.form
        await this.$store.dispatch('public/customerForgetPassword', {
          newPwd: password,
          phone: this.phone
        })
        this.$message.success('密码重置成功！')
        this.$emit('amend')
      } catch (error) {
        this.$message.error(error.message)
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
