<template>
  <div class="area-select">
    <popover
      ref="popover"
      :placement="placement"
      :doc-click-hide="docClickHide"
      v-model="visible"
      width="500"
      transition="slide-y-transition">
      <v-text-field
        ref="input"
        slot="reference"
        v-model="result"
        :class="{'required':required}"
        :label="label"
        :placeholder="placeholder"
        :rules="rules"
        :disabled="disabled"
        readonly/>
      <div class="h-tabs">
        <tabs-bar
          ref="tabbar"
          v-model="tabActive"
          :list="tabs"
          @active="tabsHandler"/>
        <div class="h-tabs__items">
          <template v-for="(item,idx) in arrays">
            <transition
              :name="transition"
              :key="`tab${idx}`">
              <div
                v-show="tabActive==idx"
                class="h-tabs__item">
                <v-card flat>
                  <v-card-text class="px-0 py-0">
                    <v-btn
                      v-for="addr in item"
                      :color="!!checks[idx]&&checks[idx].id==addr.id?'primary':null"
                      :class="{'active':!!checks[idx]&&checks[idx].id==addr.id}"
                      :key="addr.id"
                      small
                      flat
                      @click="setData(addr,idx)">
                      {{ addr.name }}
                    </v-btn>
                  </v-card-text>
                </v-card>
              </div>
            </transition>
          </template>
        </div>
      </div>
    </popover>
  </div>
</template>

<script>
import { areaList } from '~/utils/address.js'
import Popover from '../Popover'
import TabsBar from '../TabsBar'

export default {
  name: 'AreaSelect',
  components: {
    Popover,
    TabsBar
  },
  props: {
    value: {
      type: Array,
      default: () => []
    },
    initArea: {
      type: Array,
      default: () => []
    },
    label: {
      type: String,
      default: '请选择地区'
    },
    rules: {
      type: Array,
      default: () => []
    },
    messages: {
      type: Array,
      default: () => []
    },
    required: {
      type: Boolean,
      default: false
    },
    placeholder: {
      type: String,
      default: null
    },
    placement: {
      type: String,
      default: 'bottom-start'
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      visible: false,
      result: '',
      tabActive: 0,
      arrays: [],
      checks: [],
      transition: 'tab-transition',
      docClickHide: true
    }
  },
  computed: {
    tabs() {
      let arr = ['省', '市', '区/县']
      let tabs = arr.map((item, idx) => {
        return {
          label: item,
          disabled: !this.arrays[idx] || this.arrays[idx].length === 0
        }
      })
      return tabs
    }
  },
  watch: {
    tabActive(n, o) {
      this.transition = n < o ? 'tab-reverse-transition' : 'tab-transition'
    },
    checks: {
      handler(n) {
        let arr = []
        this.checks.forEach(item => arr.push(item.name))
        this.result = arr.join('/')
        this.$emit('input', this.checks)
        this.$emit('change', this.checks)
      },
      deep: true
    },
    visible(n) {
      this.$nextTick(() => {
        n && this.$refs.tabbar.initTab()
      })
    }
  },
  mounted() {
    let provinces = areaList.filter(
      item => item.pid === 1 || item.id === 710000
    )
    this.arrays = Array(this.tabs.length).fill([])
    this.arrays[0] = provinces
    this.initArea &&
      this.initArea.forEach((id, idx) => {
        let address = areaList.find(item => item.id === id)
        this.setData(address, idx)
        this.visible = false
      })
  },
  methods: {
    reset() {
      this.checks = []
      this.visible = false
      this.tabActive = 0
      let provinces = areaList.filter(
        item => item.pid === 1 || item.id === 710000
      )
      this.arrays = Array(this.tabs.length).fill([])
      this.arrays[0] = provinces
    },
    getElementTop(element) {
      let actualTop = element.offsetTop
      let current = element.offsetParent
      while (current !== null) {
        actualTop += current.offsetTop
        current = current.offsetParent
      }
      return actualTop
    },
    tabsHandler() {
      this.visible = false
      setTimeout(() => {
        this.visible = true
      }, 5)
    },
    setData(value, tabIdx) {
      let address = []
      this.checks[tabIdx] = value
      address = areaList.filter(item => item.pid === value.id)
      this.arrays.splice(tabIdx + 2, this.arrays.length)
      this.checks.splice(tabIdx + 1, this.checks.length)
      this.arrays[tabIdx + 1] = address
      this.visible = false
      setTimeout(() => {
        if (address.length !== 0) this.visible = true
      }, 5)
      this.$nextTick(() => {
        if (address.length > 0) this.tabActive = tabIdx + 1
      })
      if (address.length === 0) this.visible = false
      this.$emit(
        'select',
        value,
        tabIdx,
        this.arrays[tabIdx + 1],
        tabIdx + 1,
        this.checks
      )
    }
  }
}
</script>

<style lang="stylus" scoped>
  .area-select
    position: relative
    .tab-transition
      &-enter
        transform translate(100%, 0)

      &-leave,
      &-leave-active
        position absolute
        top: 0

      &-leave-to
        position absolute
        transform translate(-100%, 0)
    .tab-reverse-transition
      &-enter
        transform translate(-100%, 0)
      &-leave,
      &-leave-to
        top 0
        position absolute
        transform translate(100%, 0)
  .h-tabs
    &__items
      position relative
      overflow hidden
    &__item
      width 100%
      transition transform 0.4s cubic-bezier(0.86, 0, 0.07, 1)
      background-color #fff
      .v-btn
        padding 6px 12px
        min-width auto
        margin 6px 2px
        font-weight 400
        color #263240
        transition transform 0.4s cubic-bezier(0.86, 0, 0.07, 1)
</style>
