@require '~assets/style/variable.styl'
.shipping-area
  padding: 20px
  width 1000px
  margin auto
  background #fff
  box-shadow default-box-shadow
  &__content
    position relative
    transition default-transition
    h4
      line-height 1
      font-size 20px
      padding-left 16px
      margin-bottom 20px
      font-weight normal
      position relative
      &::before
        content ''
        display inline-block
        height 100%
        width 3px
        background-color green-color
        position absolute
        left 0
  &__chart,&__query
    transition default-transition
    float left
    width 100%
  &__chart
    border: 1px solid border-color
    height: 610px





