<template>
  <div
    :style="{
      width
    }"
    class="search-box">
    <div
      :style="{
        height
      }"
      class="search-box__content">
      <input
        v-model="search"
        :placeholder="placeholder"
        :class="{'is-focus':isFocus}"
        type="text"
        class="search-box__input"
        @input="inputChange"
        @keydown.enter="searchHandle"
        @focus="onFocus"
        @blur="onBlur">
      <v-btn
        :loading="loading"
        :style="{
          width:btnWidth
        }"
        depressed
        @click="searchHandle">
        <v-icon>search</v-icon>
      </v-btn>
    </div>
    <slot name="desc"/>
  </div>
</template>
<script>
export default {
  name: 'SearchBox',
  props: {
    placeholder: {
      type: String,
      default: null
    },
    value: {
      type: String,
      default: null
    },
    loading: {
      type: Boolean,
      default: false
    },
    height: {
      type: String,
      default: '40px'
    },
    width: {
      type: String,
      default: '100%'
    },
    btnWidth: {
      type: String,
      default: '40px'
    }
  },
  data() {
    return {
      search: this.value,
      isFocus: false
    }
  },
  watch: {
    value(val) {
      this.search = val
    }
  },
  methods: {
    inputChange() {
      this.$emit('input', this.search)
      this.$emit('change', this.search)
    },
    searchHandle() {
      this.$emit('search', this.search)
    },
    onFocus() {
      this.isFocus = true
    },
    onBlur() {
      this.isFocus = false
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
.search-box
  display inline-block
  &__content
    display flex
    height 50px
    .v-btn
      margin 0
      padding 0
      min-width auto
      height 100%
      width 50px
      background-color green-color  !important
      color #fff !important
      border-radius 0 3px 3px 0
      .v-icon
        font-size 22px
  &__input
    flex 1
    height 100%
    background-color #fff
    color font-default-color
    padding 12px
    font-size 14px
    border solid 1px border-color
    border-right none
    border-radius 3px 0 0 3px
    transition default-transition
    &.is-focus
      border-color green-color
</style>
