<template>
  <v-tabs
    v-model="currentTab"
    centered
    dark
    color="light-barcolor"
    height="70px"
    fixed-tabs
    class="toolbar-tabs"
    active-class="tab-active">
    <v-tabs-slider
      color="primary"
      style="height:3px;"/>
    <v-tab
      v-for="(tab,idx) in tabs"
      :key="idx"
      :to="tab.href"
      :style="{
        minWidth:'150px'
      }"
      exact
      nuxt>
      {{ tab.name }}
    </v-tab>
  </v-tabs>
</template>
<script>
import { logistics, customer, outlet } from './data/tab.json'
import initMixin from '~/mixin/init-mixin.js'

export default {
  mixins: [initMixin],
  data() {
    return {
      currentTab: null,
      tabs: []
    }
  },
  watch: {
    currentTab(n) {
      this.$emit('tab-change', n)
    }
  },
  mounted() {
    const type = this.userType || 0
    if (type === 2) this.tabs = logistics
    else if (type === 3) this.tabs = outlet
    else this.tabs = customer
  }
}
</script>
