<template>
  <div class="logistics-order">
    <div class="page-container">
      <div
        :style="{
          width: '1000px',
          margin: 'auto'
      }">
        <v-card>
          <search-box
            :loading="loading"
            width="420px"
            placeholder="输入订单号查询"
            @search="searchHandle"/>
          <v-tabs
            v-model="search.status"
            grow
            class="status-tabs"
            active-class="tab-active">
            <v-tabs-slider
              color="primary"
              class="tabs-slider"/>
            <v-tab href="#0">待收件 {{ orders.pendingReceiveNum || 0 }}</v-tab>
            <v-tab href="#1">待发件 {{ orders.pendingSendNum || 0 }}</v-tab>
            <v-tab href="#2">运输中 {{ orders.intransitNum || 0 }}</v-tab>
            <v-tab href="#3">已到仓 {{ orders.arrive || 0 }}</v-tab>
          </v-tabs>
          <div
            class="order-content">
            <div class="table-handler">
              <v-btn
                v-if="search.status<2"
                :loading="handleLoading"
                :disabled="orderSelected&&orderSelected.length===0"
                flat
                small
                color="primary"
                @click="batchHandle(orderSelected)">
                批量{{ search.status==0?'收件':'发件' }}
              </v-btn>
              <v-select
                v-if="userType===2"
                :items="outletAll"
                v-model="search.outletId"
                :loading="outletLoad"
                item-text="outletName"
                item-value="id"
                class="outlet-select px-0"/>
            </div>
            <v-data-table
              v-model="orderSelected"
              :headers="headers"
              :items="orders.list"
              :pagination.sync="pagination"
              :rows-per-page-items="[10,20,30]"
              :total-items="dataCount"
              :loading="loading"
              :select-all="search.status < 2"
              class="table-border"
              rows-per-page-text="每页行数"
              @update:pagination="updatePage">
              <template
                slot="items"
                slot-scope="props">
                <td v-if="search.status < 2">
                  <v-checkbox
                    v-model="props.selected"
                    primary
                    color="primary"
                    hide-details
                  />
                </td>
                <td style="width:140px">{{ props.item.id }}</td>
                <td style="width:140px">{{ props.item.tradeName | isEmpty }}</td>
                <td style="width:140px">{{ props.item.sendContact }} {{ props.item.sendCompanyName }}</td>
                <td style="width:140px">{{ props.item.receiveContact }} {{ props.item.receiveCompanyName }}</td>
                <td style="width:50px">{{ props.item.goodsQuantity | isEmpty }}</td>
                <td style="width:140px">{{ props.item.outlet?props.item.outlet.outletName:'-' }}</td>
                <td
                  :style="{width:props.item.status<2?'140px':'50px'}"
                  class="text-xs-right px-0 handle-cell">
                  <v-btn
                    v-if="props.item.status<2"
                    flat
                    small
                    color="primary"
                    @click="btnHandle(props.item)">
                    {{ props.item.status===0?'收 件':'发 件' }}
                  </v-btn>
                  <v-btn
                    flat
                    icon
                    small
                    color="medium-grey-color"
                    @click="detailHandle(props.item)">
                    <v-icon small>keyboard_arrow_right</v-icon>
                  </v-btn>
                </td>
              </template>
            </v-data-table>
          </div>
        </v-card>
      </div>
    </div>
    <foote/>
    <order-detail-dialog ref="detailDialog"/>
    <sent-warehouse-dialog
      ref="sentWarehouseDialog"
      :selected="orderSelected"
      @refresh="reset"/>
  </div>
</template>
<script>
import Foote from '~/components/Foote'
import SearchBox from '~/components/SearchBox'
import initMixin from '~/mixin/init-mixin.js'
import OrderDetailDialog from '~/components/page/my/OrderDetailDialog'
import SentWarehouseDialog from '~/components/page/my/SentWarehouseDialog'

export default {
  components: {
    Foote,
    SearchBox,
    OrderDetailDialog,
    SentWarehouseDialog
  },
  mixins: [initMixin],
  layout: 'base',
  head: {
    title: '网点订单'
  },
  data() {
    return {
      search: {
        pageIndex: 1,
        pageSize: 10,
        status: '0',
        outletId: null,
        orderId: null
      },
      orderSelected: [],
      tab: null,
      loading: true,
      timer: null,
      outletLoad: true,
      pagination: {
        page: 1,
        rowsPerPage: 10
      },
      headers: [
        {
          text: '订单号',
          name: 'id',
          sortable: false
        },
        {
          text: '品名',
          name: 'id',
          sortable: false
        },
        {
          text: '寄件人/公司',
          name: 'id',
          sortable: false
        },
        {
          text: '收件人/公司',
          name: 'id',
          sortable: false
        },
        {
          text: '箱数',
          name: 'id',
          sortable: false
        },
        {
          text: '代收网点',
          name: 'id',
          sortable: false
        },
        {
          sortable: false
        }
      ],
      handleLoading: false
    }
  },
  computed: {
    orders() {
      return this.$store.getters['outlet/orders'] || { list: [] }
    },
    outletAll() {
      let list = this.$store.getters['outlet/outletAll'] || []
      return [
        {
          outletName: '全部网点',
          id: null
        },
        ...list
      ]
    },
    dataCount() {
      let { orders, search = { status: '0' } } = this
      const status = search.status * 1
      if (status === 0) return orders.pendingReceiveNum || 0
      if (status === 1) return orders.pendingSendNum || 0
      if (status === 2) return orders.intransitNum || 0
      return orders.arrive || 0
    },
    pageTotal() {
      const count = this.dataCount
      return Math.ceil(count / this.search.pageSize)
    }
  },
  watch: {
    search: {
      handler() {
        clearTimeout(this.timer)
        this.timer = setTimeout(async () => {
          await this.getOrderList()
        }, 300)
      },
      deep: true
    },
    async 'search.status'() {
      this.resetPage()
      this.$store.dispatch('public/getWarehouseReceiverAddressList')
      await this.$store.dispatch('outlet/outletAll')
    }
  },
  async mounted() {
    await this.getOrderList()
    this.$store.dispatch('public/getWarehouseReceiverAddressList')
    await this.$store.dispatch('outlet/outletAll')
    this.outletLoad = false
  },
  methods: {
    reset(status = '0') {
      this.resetPage()
      this.search = {
        pageIndex: 1,
        pageSize: 10,
        status,
        outletId: null,
        orderId: null
      }
    },
    resetPage() {
      this.pagination = {
        page: 1,
        rowsPerPage: 10
      }
      this.orderSelected = []
    },
    searchHandle(val) {
      this.resetPage()
      this.search.orderId = val
    },
    async getOrderList() {
      this.loading = true
      let params = { ...this.search }
      params.pageIndex--
      params.status = params.status * 1
      await this.$store.dispatch('outlet/getOutletOrderlist', params)
      this.loading = false
    },
    updatePage({ page, rowsPerPage }) {
      this.search.pageIndex = page
      this.search.pageSize = rowsPerPage
      // this.orderSelected = []
    },
    async btnHandle({ status, id }) {
      status === 0 && this.putPlatformOrderReceive([{ id }])
      status === 1 && this.$refs.sentWarehouseDialog.show([{ id }])
    },
    async detailHandle({ id }) {
      const dialog = this.$refs.detailDialog
      dialog.id = id
      await dialog.show(id)
    },
    batchHandle() {
      const status = this.search.status * 1
      status === 0 && this.putPlatformOrderReceive(this.orderSelected)
      status === 1 && this.$refs.sentWarehouseDialog.show(this.orderSelected)
    },
    async putPlatformOrderReceive(list = []) {
      this.handleLoading = true
      try {
        let ids = []
        list.forEach(({ id }) => ids.push(id))
        await this.$store.dispatch('order/putPlatformOrderReceive', { ids })
        this.$message.success('收件成功！')
        this.reset()
      } catch (error) {
        this.$message.error('收件失败！')
      } finally {
        this.handleLoading = false
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'

.logistics-order
  .v-card
    padding-top 30px
  .search-box
    display block
    margin auto
  .status-tabs
    width 660px
    margin 12px auto 0
    >>>.tab-active
      pointer-events none
      color green-color
    .tabs-slider
      height 3px
  .order-content
    border-top solid 1px light-border-color
    padding 20px 30px
    .table-handler
      display flex
      flex 1
      align-items flex-end
      justify-content space-between
      .outlet-select
        flex none
        width 180px
        position relative
        bottom -4px
</style>
