<template>
  <div class="my-receipt">
    <div class="page-container">
      <v-card
        v-loading="loading"
        class="receipt-form">
        <v-form
          ref="form"
          v-model="valid">
          <v-container
            grid-list-md
            class="form-container">
            <v-layout
              wrap
              row>
              <v-flex xs12>
                <label>网点信息</label>
              </v-flex>
              <v-flex xs4>
                <v-select
                  :items="logisticsAddressList"
                  :rules="[v => !!v || '请选择网点所在地']"
                  :readonly="outletLogisticsListLoad"
                  item-text="cityName"
                  item-value="cityId"
                  label="网点所在地"
                  class="required"
                  @input="citySelect"/>
              </v-flex>
              <v-flex xs4>
                <v-select
                  v-model="form.outletId"
                  :items="outletLogisticsList"
                  :rules="[v => !!v || '请选择收件网点']"
                  :loading="outletLogisticsListLoad"
                  no-data-text="请先选择网点所在地"
                  label="收件网点"
                  item-text="username"
                  item-value="id"
                  class="required"/>
              </v-flex>
              <v-flex xs12>
                <label>寄件人信息</label>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendCompanyName"
                  label="寄件公司"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendContact"
                  :rules="[v => !!v || '请输入寄件人']"
                  label="寄件人"
                  class="required"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  v-model="form.sendContactNumber"
                  :rules="[v => !!v || '请输入联系方式']"
                  label="联系方式"
                  class="required"/>
              </v-flex>
              <v-flex xs12>
                <label>收件仓库信息</label>
              </v-flex>
              <v-flex xs4>
                <v-select
                  :items="warehouseReceiverAddressList"
                  :rules="[v => !!v || '请选择发往仓库']"
                  label="发往仓库"
                  item-text="name"
                  item-value="id"
                  class="required"
                  return-object
                  @input="warehouseSelect"/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  :value="currentWarehouse.contact"
                  label="收件人"
                  disabled/>
              </v-flex>
              <v-flex xs4>
                <v-text-field
                  :value="currentWarehouse.contactNumber"
                  label="联系方式"
                  disabled/>
              </v-flex>
              <v-flex xs12>
                <v-text-field
                  :value="addrJoin(currentWarehouse,currentWarehouse.address)"
                  label="仓库地址"
                  disabled/>
              </v-flex>
              <v-flex xs12>
                <label>货物信息</label>
              </v-flex>
              <v-flex xs6>
                <v-text-field
                  v-model="form.tradeName"
                  :rules="[v => !!v || '请输入品名，多个品名时用“、”']"
                  hint="多个品名时用“、”"
                  label="品名"
                  class="required"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsQuantity"
                  :rules="[v => !!v || '请输入箱数/个']"
                  label="箱数/个"
                  class="required"
                  mask="#########"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsInsideQuantity"
                  :rules="[v => !!v || '请输入内物数/件']"
                  label="内物数/件"
                  class="required"
                  mask="#########"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsWeight"
                  :rules="[v => !!v || '请输入实重/kg']"
                  label="实重/kg"
                  class="required"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsLength"
                  :rules="[v => !!v || '请输入长/cm']"
                  label="长/cm"
                  class="required"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsWidth"
                  :rules="[v => !!v || '请输入宽/cm']"
                  label="宽/cm"
                  class="required"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsHeight"
                  :rules="[v => !!v || '请输入高/cm']"
                  label="高/cm"
                  class="required"/>
              </v-flex>
              <v-flex xs3>
                <v-text-field
                  v-model="form.goodsMoney"
                  :rules="[]"
                  label="货值/元"/>
              </v-flex>
            </v-layout>
          </v-container>
        </v-form>
        <div class="hanler-wrap">
          <v-btn
            dark
            color="light-barcolor"
            depressed
            @click="submit">提 交</v-btn>
        </div>
      </v-card>
    </div>
    <foote/>
  </div>
</template>
<script>
import AreaSelect from '~/components/AreaSelect'
import Foote from '~/components/Foote'
import axios from 'axios'
import { addrJoin } from '~/utils/filters'
export default {
  components: {
    AreaSelect,
    Foote
  },
  layout: 'base',
  head: {
    title: '网点收件'
  },
  data() {
    return {
      valid: true,
      items: ['Foo', 'Bar', 'Fizz', 'Buzz'],
      form: {
        outletId: null,
        sendCompanyName: '',
        sendContact: '',
        sendContactNumber: '',
        warehouseId: null,
        tradeName: '',
        goodsQuantity: null,
        goodsInsideQuantity: null,
        goodsWeight: null,
        goodsLength: null,
        goodsWidth: null,
        goodsHeight: null,
        goodsMoney: null
      },
      rules: {},
      loading: false,
      logisticsAddressList: [],
      outletLogisticsList: [],
      outletLogisticsListLoad: false,
      warehouseReceiverAddressList: [],
      currentWarehouse: {}
    }
  },
  async mounted() {
    this.getOutletLogisticsAddressList()
    this.getWarehouseReceiverAddressList()
  },
  methods: {
    addrJoin,
    async citySelect(val) {
      this.form.outletId = null
      !!val && (await this.getOutletLogisticsList(val))
    },
    async getOutletLogisticsAddressList() {
      try {
        const { data } = await this.$http.outletLogisticsAddressList()
        this.logisticsAddressList = data || []
      } catch (error) {
      } finally {
        this.addrLoad = false
      }
    },
    async getOutletLogisticsList(cityId) {
      this.outletLogisticsListLoad = true
      try {
        const { data = {} } = await this.$http.outletLogisticsList({ cityId })
        this.outletLogisticsList = data.list || []
      } catch (error) {
      } finally {
        this.outletLogisticsListLoad = false
      }
    },
    async getWarehouseReceiverAddressList() {
      try {
        const { data } = await this.$http.warehouseReceiverAddressList()
        this.warehouseReceiverAddressList = data || []
      } catch (error) {
        console.error(error)
        this.warehouseReceiverAddressList = []
      }
    },
    warehouseSelect(item) {
      if (!item) return
      this.form.warehouseId = item.id
      this.currentWarehouse = item
    },
    async submit() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        const { data } = await this.$http.platformOrderLogistics(this.form)
        this.$message.success('提交成功！')
        this.$refs.form.reset()
        this.form = this.$resetFields(this.form)
      } catch (error) {
        this.$message.error('提交失败！')
      } finally {
        this.loading = false
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
.my-receipt
  .receipt-form
    width 1000px
    margin auto
  .form-container
    padding 50px 25px 0 !important
  .hanler-wrap
    text-align: center
    padding 18px 0 50px
    .v-btn
      width 200px
      height 44px
</style>
