<template>
  <v-dialog
    v-model="dialog"
    width="300px">
    <v-card>
      <v-card-title
        class="headline  lighten-2"
        primary-title>
        {{ title }}
      </v-card-title>

      <v-card-text>
        <div
          class="alert-content"
          v-html="content"/>
      </v-card-text>
      <v-divider/>
      <v-card-actions>
        <v-spacer/>
        <v-btn
          color="primary"
          dark
          @click="dialog = false">
          {{ closeText }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  props: {
    title: {
      type: String,
      default: '提示'
    },
    content: {
      type: String,
      default: ''
    },
    closeText: {
      type: String,
      default: '关闭'
    },
    autoClose: {
      type: Boolean,
      default: false
    }
  },
  data() {
    return {
      dialog: false,
      timer: null
    }
  },
  methods: {
    show() {
      this.dialog = true
      if (!this.autoClose) return
      clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.hide()
      }, 3000)
    },
    hide() {
      this.dialog = false
    }
  }
}
</script>
<style lang="stylus">
  .alert-content
    padding 0 20px 20px
</style>
