<template>
  <footer>
    Copyright &copy; 2018 海速通 (厦门) 科技有限公司 闽ICP备15013913号
  </footer>
</template>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
footer
  // margin-top: 4px
  text-align center
  color light-grey-color
  font-size 12px
  height 80px
  line-height 80px
  background-color bg-color
</style>
