<template>
  <div class="header-placeholder">
    <div class="search-result">
      <h4>
        <span class="before-circle"/> 物流跟踪信息
        <span class="after-circle"/>
      </h4>
      <div class="search-result__logistics">
        <search-result
          :img="img"
          :data="data"/>
      </div>
    </div>
  </div>
</template>

<script>
import SearchResult from './SearchResult'
export default {
  components: {
    SearchResult
  },
  props: {
    img: {
      type: String,
      default: ''
    },
    data: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@import './style/search-result.styl'
</style>
