<template>
  <div class="platform-advantage">
    <h2>平台优势</h2>
    <ul class="platform-advantage__list">
      <li
        v-for="(item,idx) in list"
        :key="idx">
        <!-- <svg
          class="icon"
          aria-hidden="true">
          <use :xlink:href="`#icon-${item.svg}`"/>
        </svg> -->
        <img :src="item.img">
        <h4>{{ item.tit }}</h4>
        <p>{{ item.desc }}</p>
      </li>
    </ul>
  </div>
</template>
<script>
export default {
  data() {
    return {
      list: [
        {
          svg: 'xinyongbaozhang',
          img: require('~/assets/image/icon_1.png'),
          tit: '智能信用保障',
          desc: '拥有优质可靠的物流上入驻'
        },
        {
          svg: 'wuliuguanjia',
          img: require('~/assets/image/icon_2.png'),
          tit: '智能管家服务',
          desc: '可支持保险，报关的物流服务'
        },
        {
          svg: 'jiage',
          img: require('~/assets/image/icon_3.png'),
          tit: '价格全网最低',
          desc: '各种物流方案价格公开透明'
        },
        {
          svg: 'zaixianxiadan',
          img: require('~/assets/image/icon_4.png'),
          tit: '在线便捷下单',
          desc: '可随时随地轻松下单'
        },
        {
          svg: 'zaixianzhifu',
          img: require('~/assets/image/icon_5.png'),
          tit: '灵活在线支付',
          desc: '可支持多种在线支付方式'
        },
        {
          svg: 'zhinengzhuizong',
          img: require('~/assets/image/icon_6.png'),
          tit: '全球智能追踪',
          desc: '实时进行对货物物流信息的追踪'
        }
      ]
    }
  }
}
</script>
<style lang="stylus" scoped>
  @import './style/platform-advantage.styl'
</style>
