<template>
  <ul class="logistics-result-content">
    <img
      v-if="img"
      :src="img"
      :alt="img">
    <li
      v-for="(item,idx) in data"
      :key="idx">
      <h5>{{ item.time }}</h5>
      <p>{{ item.context }}</p>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: ''
    },
    data: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
ul.logistics-result-content
  padding 20px 100px 14px 40px
  min-height 100px
  overflow hidden
  li
    list-style none
    position relative
    margin-bottom 4px
    &::before
      content ''
      position absolute
      left -20px
      top 4px
      display inline-block
      width 5px
      height 5px
      border-radius 50%
      background-color border-color

    &::after
      content ''
      position absolute
      left -18px
      top 12px
      height 86%
      width 1px
      background-color border-color
    &:last-of-type::after
      height 45%

    &:first-of-type::before
        background-color green-color

    &>h5,
    &>p
      position relative
      font-size 12px
      font-weight 400
      line-height 1

    &>p
      color medium-grey-color
      margin 0
      padding 8px 0 16px

    &:first-of-type>h5::before
      content ''
      position absolute
      left -23px
      top 1px
      height 11px
      width 11px
      background-color green-color
      opacity 0.3
      border-radius 50%

  img
    position absolute
    right 20px
    top 20px
    user-select none
</style>
