@require '../variable.styl'
@require '../functions.styl'

.express-single
  .bg-header
    display flex
    flex-flow column
    align-items center
    padding-top sizes(10)
    height sizes(34)
    color #fff
    h1
      display inline-block
      font-weight 300
      font-size sizes(4)
      line-height 1
      margin 0

    h6
      font-size 16px
      padding sizes(2) 0 sizes(4)
      font-weight 350
      line-height 1

    .search-box
      &__example
        font-size 12px
        padding-top 8px

  &__content
    color font-default-color
    background-color #fff
    min-height sizes(30)
    .app-about
      background-color bg-color
      height sizes(30)
      padding sizes(3) 0 0
      &>div
        background-image url('~assets/image/home_image_3.2.png')
        background-size cover
        background-repeat no-repeat
        height 100%
        position relative
        ul
          color font-default-color
          padding-top sizes(5)
          padding-left sizes(20)
          line-height 1
          h4
            font-size 24px
            font-weight normal
            padding-bottom sizes(2.6)
          li
            list-style none
            padding-bottom sizes()
            font-size 14px
        img
          position absolute
          right sizes(16)
          bottom 0
          width sizes(36)
