<template>
  <div class="form account-info-form">
    <!-- <h4>账户信息</h4> -->
    <v-form
      ref="form"
      v-model="valid"
      lazy-validation>
      <v-text-field
        v-show="type!==1"
        v-model="form.username"
        :rules="rules.username"
        label="用户名"
        class="required"/>
      <v-text-field
        v-model="form.phone"
        :rules="rules.phone"
        :error-messages="phoneError"
        label="手机号"
        class="required"
        @input="registerCheckPhone"
        @blur="registerCheckPhone"/>
      <captcha-input
        ref="captcha"
        :valid="valid"
        v-model="form.captcha"
        :rules="rules.captcha"
        :style="{width:'360px',margin:'auto'}"
        required
        @click:captcha-suffix="captchaSuffix"/>
      <v-text-field
        :append-icon="showPassword ? 'visibility_off' : 'visibility'"
        :type="showPassword?'text':'password'"
        v-model="form.password"
        :rules="rules.password"
        label="密码"
        class="required"
        hint="6-12位英文字母或数字"
        @click:append="showPassword = !showPassword"/>
      <v-radio-group
        v-if="type!==1"
        :key="type"
        v-model="form.type"
        row
        class="justify-center">
        <v-radio
          :value="0"
          label="个人"
          color="primary"/>
        <v-radio
          :value="1"
          label="公司"
          color="primary"/>
      </v-radio-group>
    </v-form>
  </div>
</template>
<script>
import CaptchaInput from '~/components/CaptchaInput'
import axios from 'axios'
export default {
  components: {
    CaptchaInput
  },
  props: {
    type: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      valid: true,
      form: {
        username: '',
        phone: '',
        captcha: '',
        password: '',
        type: 0
      },
      rules: {
        username: [v => !!v || '请输入用户名'],
        phone: [
          v => {
            if (!v) return '请输入手机号'
            if (!/^1[3-9]{1}\d{9}$/g.test(v)) return '手机号格式错误'
            return true
          }
        ],
        captcha: [v => !!v || '请输入验证码'],
        password: [
          v => {
            if (!v) return '请输入密码'
            if (!/^[a-zA-Z0-9]{6,12}$/g.test(v)) return '密码格式错误'
            return true
          }
        ]
      },
      showPassword: false,
      phoneError: null
    }
  },
  methods: {
    async getCaptcha() {
      try {
        const { data } = await axios.post('/mock/captcha', {
          phone: this.form.phone
        })
        if (!data.status) {
          this.$message.error('验证码获取失败，请稍后重试！')
          return
        }
        this.form.captcha = String(data.result)
      } catch (error) {
        console.error(error)
      }
    },
    captchaSuffix() {
      this.getCaptcha()
    },
    async registerCheckPhone() {
      const { phone } = this.form
      if (!/^1[3-9]{1}\d{9}$/g.test(phone)) return
      try {
        await this.$store.dispatch('public/registerCheckPhone', phone)
        this.phoneError = null
      } catch (e) {
        this.phoneError = e.message
      }
    },
    async validate() {
      await this.registerCheckPhone()
      return this.$refs.form.validate() && !this.phoneError
    },
    reset() {
      this.phoneError = null
      this.$refs.form.reset()
      this.$refs.captcha.resetTime()
      this.form = this.$resetFields(this.form, ['type'])
      this.form.type = 0
    }
  }
}
</script>
