border(color =  #e9edf2) 
  border 1px solid color

boxShadow(insetShadow=false,x = 0,y = 0,blur = 8px, color = rgba(0, 0, 0, 0.2))
  if insetShadow
    box-shadow x y blur color inset
  else
    box-shadow x y blur color
  
borderRadius(n)
  border-radius n

