@require 'variable.styl'
ul.tabs
  height 60px
  display flex
  justify-content center
  li.tab
    height 100%
    border-bottom 0 solid green-color
    display inline-block
    position relative
    cursor pointer
    margin 0 20px
    font-weight: normal

    &::after
      content ""
      display inline-block
      position absolute
      bottom  0
      left 0
      right 0
      border-bottom 3px solid green-color
      transform scaleX(0)
      opacity 0
      transition all 0.3s ease
    &.is-active
      pointer-events: none
      &::after
        opacity 1
        transform scaleX(1)

  .v-btn
    margin 0
    height 100%
    padding 0 20px
    min-width initial
