@require '~assets/style/variable.styl'
.body-bar
  .bar-content
    width 100%
    height 100%
    display flex
    align-items center
    padding 0 20px
  .logo
    display flex
    align-items center
    cursor pointer
    height 100%
    img
      width 90px
      .logo-title
        font-weight 450
  .right-bar
    height 100%
    display: flex
    align-items center
    ul.tabs
      height 100%
      .v-btn
        margin 0
        height 100%
        padding 0 4px
        min-width initial
    .login-handle
      display inline-block
      margin-left: 20px
     .v-btn
        margin 0
        font-size 14px
        border-radius 4px
        min-width initial
        padding 0 16px
  .v-toolbar__content,
  .v-toolbar__extension
    padding: 0
  .v-toolbar__extension
    padding 0
    height 70px !important
    .v-tabs__slider
      height 3px
  .tab-active
    pointer-events: none
    opacity 1 !important
.mini-menu
  .v-list
    &__tile
      font-size: 14px
      height 44px
      &__title
        text-align: center
    &__group
      &--active
        &::before,
        &::after
          background transparent !important
      &__header
        .v-list__tile__title
          line-height: 1
          display: flex
          align-items: center
          justify-content: center
          width 100%
        .v-icon.is-rotate
            transform: rotate(-180deg)
