<template>

  <v-dialog
    v-model="dialog"
    persistent
    width="500px"
    content-class="sent-warehouse-dialog">
    <v-card
      v-loading="loading"
      class="detail-content"
      style="min-width:500px">
      <v-card-title>
        {{ isEdit?'编辑':'新增' }}网点
        <v-btn
          flat
          icon
          small
          class="mx-0 my-0"
          @click="clear">
          <v-icon
            small
            color="medium-grey-color">close</v-icon>
        </v-btn>
      </v-card-title>
      <v-form
        ref="form"
        v-model="valid"
        class="px-2">
        <v-container
          grid-list-md
          class="form-container">
          <v-layout
            wrap
            row>
            <v-flex xs12>
              <v-text-field
                v-model="form.outletName"
                :rules="rules.outletName"
                label="网点名"
                class="required"/>
            </v-flex>
            <v-flex xs12>
              <area-select
                ref="area"
                v-model="area"
                :rules="rules.area"
                :close-on-click="false"
                required
                label="网点地址"
                @select="areaSelect"/>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="form.fullAddress"
                :rules="rules.fullAddress"
                label="详细地址"
                class="required"/>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="form.longitude"
                :rules="rules.longitude"
                label="经度"
                class="required"/>
            </v-flex>
            <v-flex xs6>
              <v-text-field
                v-model="form.latitude"
                :rules="rules.latitude"
                label="纬度"
                class="required"/>
            </v-flex>
            <v-flex xs12>
              <a
                href="https://lbs.amap.com/console/show/picker"
                target="_blank"
                rel="noopener noreferrer"
                class="px-2"
                style="font-size:12px;">高德经纬度查询</a>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="form.contact"
                :rules="rules.contact"
                label="联系人"
                class="required"
                hint="默认为网点管理员"/>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="form.phone"
                :rules="rules.phone"
                label="手机号"
                class="required"/>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="form.contactNumber"
                :rules="rules.contactNumber"
                label="网点电话"
                hint="多个时用“、”隔开"
                class="required"/>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
      <v-card-actions class="px-4 pb-4">
        <v-spacer/>
        <v-btn
          depressed
          @click.native="clear">取消</v-btn>
        <v-btn
          :loading="loading"
          depressed
          color="primary"
          @click.native="submit">{{ isEdit?'保存':'提交' }}</v-btn>
        &nbsp;&nbsp;&nbsp;
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
import AreaSelect from '~/components/AreaSelect/select'
const lngreg = /^(\-|\+)?(((\d|[1-9]\d|1[0-7]\d|0{1,3})\.\d{0,10})|(\d|[1-9]\d|1[0-7]\d|0{1,3})|180\.0{0,10}|180)$/
const latreg = /^(\-|\+)?([0-8]?\d{1}\.\d{0,10}|90\.0{0,10}|[0-8]?\d{1}|90)$/
export default {
  components: {
    AreaSelect
  },
  data(vm) {
    return {
      valid: false,
      loading: false,
      dialog: false,
      isEdit: false,
      area: [],
      form: {
        id: null,
        provinceId: null,
        provinceName: null,
        cityId: null,
        cityName: null,
        areaId: null,
        areaName: null,
        fullAddress: null,
        longitude: null,
        contact: null,
        contactNumber: null,
        phone: null
      },
      rules: {
        outletName: [v => !!v || '请输入网点名'],
        fullAddress: [v => !!v || '请输入详细地址'],
        longitude: [
          v => !!v || '请输入经度',
          v => lngreg.test(v * 1) || '经度格式错误'
        ],
        latitude: [
          v => !!v || '请输入纬度',
          v => latreg.test(v * 1) || '纬度格式错误'
        ],
        contact: [v => !!v || '请输入联系人'],
        phone: [
          v => !!v || '请输入手机号',
          v => /^1[3-9]{1}\d{9}$/g.test(v) || '手机号格式错误'
        ],
        contactNumber: [
          v => !!v || '请输入网点电话,多个时用“、”隔开',
          v => /^[0-9_\-、]+$/gi.test(v) || '网点电话格式错误'
        ],
        area: [
          v => !!v || '请选择网点地址',
          v => !this.areaMenu || '请选择完整地址'
        ]
      },
      areaMenu: false
    }
  },
  methods: {
    show(isEdit, detail) {
      this.dialog = true
      this.$refs.form.reset()
      this.isEdit = isEdit
      if (!isEdit) return
      Object.keys(this.form).forEach(key => (this.form[key] = detail[key]))
      this.$nextTick(() => {
        this.$refs.area.init([detail.provinceId, detail.cityId, detail.areaId])
      })
    },
    areaSelect(val, idx, next, vals) {
      if (!val) return
      this.$refs.area && (this.areaMenu = this.$refs.area.menu)
      this.form.provinceId = null
      this.form.provinceName = null
      this.form.cityId = null
      this.form.cityName = null
      this.form.areaId = null
      this.form.areaName = null
      vals.forEach(({ id, name }, idx) => {
        if (idx === 0) {
          this.form.provinceId = id
          this.form.provinceName = name
        }
        if (idx === 1) {
          this.form.cityId = id
          this.form.cityName = name
        }
        if (idx === 2) {
          this.form.areaId = id
          this.form.areaName = name
        }
      })
    },
    async submit() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        !this.isEdit && (await this.add())
        this.isEdit && (await this.update())
        this.$emit('refresh')
        this.clear()
      } finally {
        this.loading = false
      }
    },
    async add() {
      try {
        await this.$store.dispatch('outlet/addOutletLogistics', this.form)
        this.$message.success('新增网点成功')
      } catch (error) {
        this.$message.error('新增网点失败')
      }
    },
    async update() {
      try {
        await this.$store.dispatch('outlet/updateOutletLogistics', this.form)
        this.$message.success('更新网点成功')
      } catch (error) {
        this.$message.error('更新网点失败')
      }
    },
    clear() {
      this.dialog = false
      this.$refs.area.reset()
      this.form = this.$resetFields(this.form)
      this.$refs.form.reset()
    }
  }
}
</script>
