<template>
  <div class="order-item">
    <h5>订单号：{{ detail.id | isEmpty }} <span>收件时间：{{ detail.deliveryDate }}</span></h5>
    <div class="order-item__course">
      <div class="from-wrap">
        <div>
          <text-icon>寄</text-icon>
          <span>{{ detail.sendCityName | isEmpty }}</span>
          <p>{{ detail.sendContact| isEmpty }}</p>
        </div>
      </div>
      <div class="line-status">
        <div class="line"/>
        {{ statusText }}
      </div>
      <div class="to-wrap">
        <text-icon>收</text-icon>
        <span>{{ detail.receiveCityName | isEmpty }}</span>
        <p>{{ detail.receiveContact | isEmpty }}</p>
      </div>
    </div>
    <v-layout
      class="order-item__content"
      row
      wrap>
      <v-flex
        xs4
        class="border-right">
        <div>
          <label>寄件公司：</label>
          <p>{{ detail.sendCompanyName | isEmpty }}</p>
        </div>
        <div>
          <label>寄件人：</label>
          <p>{{ detail.sendContact | isEmpty }}</p>
        </div>
        <div>
          <label>联系方式：</label>
          <p>{{ detail.sendContactNumber | isEmpty }}</p>
        </div>
      </v-flex>
      <v-flex
        xs4
        class="border-right">
        <div>
          <label>收件公司：</label>
          <p>{{ detail.receiveCompanyName | isEmpty }}</p>
        </div>
        <div>
          <label>收件人：</label>
          <p>{{ detail.receiveContact | isEmpty }}</p>
        </div>
        <div>
          <label>联系方式：</label>
          <p>{{ detail.receiveContactNumber | isEmpty }}</p>
        </div>
      </v-flex>
      <v-flex xs4>
        <div>
          <label>品名：</label>
          <p>{{ detail.tradeName | isEmpty }}</p>
        </div>
        <div>
          <label>箱数：</label>
          <p>{{ detail.goodsQuantity | toFixed(0) }}个</p>
        </div>
        <div>
          <label>内物总数量：</label>
          <p>{{ detail.goodsInsideQuantity | toFixed(0) }}个</p>
        </div>
      </v-flex>
      <v-flex
        xs12
        class="py-1 border-top handle-wrap">
        <v-btn
          flat
          small
          color="primary"
          @click="detailHandle">
          物流详情
          <v-icon small>keyboard_arrow_right</v-icon>
        </v-btn>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import TextIcon from './TextIcon'
import { toFixed } from '../../../utils/filters'
export default {
  components: {
    TextIcon
  },
  props: {
    detail: {
      type: Object,
      default() {
        return {
          warehouse: {},
          outlet: {}
        }
      }
    },
    status: {
      type: Number,
      default: 1
    }
  },
  computed: {
    statusText() {
      const { status } = this.detail
      if (status === 1) return '待发件'
      if (status === 2) return '运输中'
      return '已到仓'
    }
  },
  methods: {
    detailHandle() {
      this.$emit('detail-handle', this.detail)
    },
    shipmentHandle() {
      this.$emit('shipment-handle', this.detail)
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
.order-item
  border solid 1px border-color
  margin-bottom 10px
  h5
    padding 0 20px
    height 40px
    line-height 40px
    background light-bg-color
    color medium-grey-color
    font-weight normal
    user-select text
    span
      padding-left 40px
  &__course
    height 90px
    padding 4px 20px 0
    display flex
    justify-content center
    align-items center
    color font-default-color
    .from-wrap,
    .to-wrap
      flex 1
    .from-wrap
      text-align right
      div
        display inline-block
        text-align left
    span
      display inline-block
      font-weight bold
      height 24
      line-height 1
      vertical-align top
    p
      position relative
      top -4px
      margin 0
      padding-left 34px
      color medium-grey-color
      word-break break-all
    .text-icon
      margin-right 6px
    .line-status
      width 220px
      margin 14px 80px 0
      text-align center
      color medium-grey-color
      font-size 12px
      .line
        height 4px
        background light-border-color
        position relative
        top -10px
  &__content
    padding 0 20px 20px
    .flex
      border solid 1px light-border-color
      padding 16px
      position relative
      &.border-right
        border-right-color transparent
      &.border-top
        border-top-color transparent
      &.handle-wrap
        display flex
        justify-content center
      &>div
        display flex
        color font-default-color
        font-size 12px
        line-height 20px
        label
          color medium-grey-color
          display block
        p
          flex 1
          margin 0
          white-space nowrap
          overflow hidden
          text-overflow ellipsis
          user-select text

</style>
