<template>
  <v-dialog
    v-model="dialog"
    persistent
    width="800px"
    content-class="order-detail-dialog">
    <v-card
      class="detail-content"
      style="min-width:800px">
      <v-card-title>
        订单详情
        <v-btn
          flat
          icon
          small
          class="mx-0 my-0"
          @click="dialog=false">
          <v-icon
            small
            color="medium-grey-color">close</v-icon>
        </v-btn>
      </v-card-title>
      <v-card-text>
        <div class="commodity-info">
          <commodity-info-item
            :value="detail.tradeName"
            label="品名"/>
          <commodity-info-item
            :value="detail.deliveryDate"
            label="交货日期"/>
          <commodity-info-item
            :value="toFixed(detail.goodsQuantity,0)"
            unit="个"
            label="箱数"/>
          <commodity-info-item
            :value="toFixed(detail.goodsInsideQuantity,0)"
            unit="个"
            label="内物数"/>
          <commodity-info-item
            :value="toFixed(detail.goodsMoney)"
            unit="元"
            label="货值"/>
          <commodity-info-item
            :value="toFixed(detail.goodsWeight)"
            unit="kg"
            label="实重"/>
          <commodity-info-item
            :value="`${ toFixed(detail.goodsLength) }cm*${ toFixed(detail.goodsWidth )}cm*${ toFixed(detail.goodsHeight) }cm`"
            label="尺寸"/>
          <commodity-info-item
            :value="toFixed(detail.goodsVolume,3)"
            unit="cm³"
            label="体积"/>
          <commodity-info-item
            :value="filterText(detail.tariffPaySide,tariffPaymentList,'label')"
            label="关税付款方"/>
          <commodity-info-item
            :value="toFixed(detail.deliveryAgencyFundCost)"
            unit="元"
            label="配送公司代收款"/>
          <commodity-info-item
            :value="filterText(detail.collectWay,collectWayList,'label')"
            label="揽收方式"/>
          <commodity-info-item
            :value="detail.expressNo"
            :updateid="detail.id"
            updatekey="expressNo"
            edit
            label="物流单号"
            @submit="getDetail"/>
        </div>
        <div class="base-info">
          <div class="line-img"/>
          <div class="base-info__content">
            <div>
              <label>寄件人</label>
              <p>{{ detail.sendContact | isEmpty }} <span>{{ detail.sendCompanyName }}</span> {{ detail.sendContactNumber | isEmpty }}</p>
              <p class="font-grey">{{ detail.sendAddress | isEmpty }}</p>
            </div>
            <div>
              <label>收件人</label>
              <p>{{ detail.receiveContact | isEmpty }} <span>{{ detail.receiveCompanyName }}</span> {{ detail.receiveContactNumber | isEmpty }}</p>
              <p class="font-grey">{{ detail.receiveAddress | isEmpty }}</p>
            </div>
            <div>
              <template v-if="detail.outlet">
                <label>代收网点</label>
                <p>{{ detail.outlet.outletName | isEmpty }}</p>
                <p class="font-grey">{{ detail.outlet.address | isEmpty }}</p>
              </template>
            </div>
            <div>
              <template v-if="detail.warehouse">
                <label>发往仓库</label>
                <p>{{ detail.warehouse.name }} {{ detail.warehouse.contact }} {{ detail.warehouse.contactNumber }}</p>
                <p class="font-grey">{{ detail.warehouse.address | isEmpty }}</p>
              </template>
            </div>
            <commodity-info-item
              :value="detail.outletExpressNo"
              :updateid="detail.id"
              :edit="userType == 2"
              updatekey="outletExpressNo"
              label="网点物流单号"
              @submit="getDetail"/>
            <div/>
          </div>
        </div>
        <h4>物流跟踪信息</h4>
        <div class="roadmap-info">
          <search-result :data="logList"/>
        </div>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>
<script>
import SearchResult from '../ExpressSingle/SearchResult'
import CommodityInfoItem from './CommodityInfoItem'
import { toFixed, filterText } from '~/utils/filters'
import { tariffPaymentList, collectWayList } from '~/assets/data.json'
import initMixin from '~/mixin/init-mixin.js'
export default {
  components: {
    SearchResult,
    CommodityInfoItem
  },
  mixins: [initMixin],
  data() {
    return {
      dialog: false,
      tariffPaymentList,
      collectWayList,
      id: null
    }
  },
  computed: {
    orderDetail() {
      return (
        this.$store.getters['public/orderDetail'] || {
          platformOrder: {},
          platformOrderLogList: []
        }
      )
    },
    detail() {
      return this.orderDetail.platformOrder || {}
    },
    logList() {
      return this.orderDetail.platformOrderLogList || []
    }
  },
  methods: {
    toFixed,
    filterText,
    async show(id) {
      this.dialog = true
      await this.getDetail(id)
    },
    async getDetail(id) {
      try {
        await this.$store.dispatch('public/orderDetail', id)
      } catch (error) {
        console.log(error)
      }
    }
  }
}
</script>
<style lang="stylus" scoped>
@require '~assets/style/variable.styl'
.order-detail-dialog
  .v-card__text
    padding 0 40px 30px
    .line-img
      height 4px
      background url('~assets/image/home_serch_strip.png') repeat
    .commodity-info,
    .base-info,
    .roadmap-info
      border solid 1px border-color
      margin-bottom 20px
    .commodity-info
      display flex
      flex-direction row
      flex-wrap wrap
      border-bottom none
    .base-info
      border-bottom none
      &>div:not(:first-child):not(:last-child)
        border-bottom solid 1px border-color
      &__content
        display flex
        flex-direction row
        flex-wrap wrap
        &>div
          padding 10px 20px
          width 50%
          border-bottom solid 1px border-color
          &:nth-child(odd)
            border-right solid 1px border-color
          label,p
            line-height 1
          label
            font-size 12px
            color medium-grey-color
            display block
            margin-bottom 12px
          p
            margin 0
            margin-bottom 8px
            font-size 14px
            &.font-grey
              font-size 12px
              color medium-grey-color
              margin-bottom 0
    h4
      font-size 14px
      margin-bottom 10px
      color: font-default-color

</style>
