<template>
  <v-dialog
    v-model="dialog"
    persistent
    width="500px"
    content-class="sent-warehouse-dialog">
    <v-card
      v-loading="loading"
      class="detail-content"
      style="min-width:500px">
      <v-card-title>
        发往仓库
        <v-btn
          flat
          icon
          small
          class="mx-0 my-0"
          @click="clear">
          <v-icon
            small
            color="medium-grey-color">close</v-icon>
        </v-btn>
      </v-card-title>
      <v-form
        ref="form"
        v-model="valid"
        class="px-2">
        <v-container
          grid-list-md
          class="form-container">
          <v-layout
            wrap
            row>
            <v-flex xs12>
              <v-select
                :items="warehouseReceiverAddressList"
                :rules="rules.warehouseId"
                label="发往仓库"
                item-text="name"
                item-value="id"
                class="required"
                return-object
                @input="warehouseSelect"/>
            </v-flex>
            <v-flex
              v-if="form.warehouseId"
              xs12>
              <div>{{ currentWarehouse.contact | isEmpty }}{{ currentWarehouse.contactNumber | isEmpty }}</div>
              <div>{{ currentWarehouse.address | isEmpty }}</div>
            </v-flex>
            <v-flex xs12>
              <v-text-field
                v-model="form.outletExpressNo"
                :rules="rules.outletExpressNo"
                label="网点物流单号"/>
            </v-flex>
          </v-layout>
        </v-container>
      </v-form>
      <v-card-actions class="px-4 pb-4">
        <v-spacer/>
        <v-btn
          depressed
          @click.native="clear">取消</v-btn>
        <v-btn
          :loading="loading"
          depressed
          color="primary"
          @click.native="submit">提交</v-btn>
        &nbsp;&nbsp;
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>
<script>
export default {
  data() {
    return {
      loading: false,
      dialog: false,
      valid: false,
      selected: [],
      form: {
        warehouseId: null,
        outletExpressNo: null
      },
      rules: {
        warehouseId: [v => !!v || '请选择发往仓库'],
        outletExpressNo: [
          v => {
            if (!v) return true
            return /[a-zA-Z0-9]$/g.test(v) || '物流单号格式错误'
          }
        ]
      },
      currentWarehouse: {}
    }
  },
  computed: {
    warehouseReceiverAddressList() {
      return this.$store.getters['public/warehouseReceiverAddressList'] || []
    }
  },
  methods: {
    async show(list) {
      this.dialog = true
      this.selected = list || []
      // await this.$store.dispatch('public/getWarehouseReceiverAddressList')
    },
    warehouseSelect(item) {
      if (!item) return
      this.form.warehouseId = item.id
      this.currentWarehouse = item || {}
    },
    async submit() {
      if (!this.$refs.form.validate()) return
      if (this.loading) return
      this.loading = true
      try {
        let ids = []
        this.selected.forEach(({ id }) => ids.push(id))
        await this.$store.dispatch('order/putPlatformOrderSend', {
          ids,
          ...this.form
        })
        this.$message.success('发件成功！')
        this.$emit('refresh', '1')
        this.clear()
      } catch (error) {
        console.error(error)
        this.$message.error('发件失败！')
      } finally {
        this.loading = false
      }
    },
    clear() {
      this.dialog = false
      this.$refs.form.reset()
      this.form = this.$resetFields(this.form)
    }
  }
}
</script>
