<template>
  <div
    :style="{
      width,height,
      lineHeight:height,
      backgroundColor,
      color
    }"
    class="text-icon">
    <slot/>
  </div>
</template>
<script>
export default {
  props: {
    width: {
      type: String,
      default: '24px'
    },
    height: {
      type: String,
      default: '24px'
    },
    backgroundColor: {
      type: String,
      default: '#263240'
    },
    color: {
      type: String,
      default: '#fff'
    }
  }
}
</script>

<style lang="stylus">
.text-icon
  display inline-block
  font-size 10px
  text-align center !important
  border-radius 50%
</style>
