<template>
  <nuxt/>
</template>

<style>
html {
  /* overflow-y: hidden; */
  height: 100%;
  /* font-size: 20px; */
  background-color: #fff;
  user-select: none;
}

body {
  height: 100%;
}

* {
  box-sizing: border-box;
  outline-width: 0;
}

#app {
  height: 100%;
}
</style>
