<template>
  <div class="exception">
    <div
      :style="{
        backgroundImage: `url(${exceptionImg})`
      }"
      class="exception-img"/>
    <h1 class="exception-code">{{ error.statusCode }}</h1>
    <div class="exception-msg">{{ error.message }}</div>
    <v-btn
      nuxt
      exact
      to="/expres-single"
      class="back-home">返回首页</v-btn>
  </div>
</template>

<script>
import noAuth from '~/assets/image/auth.svg'
import notFound from '~/assets/image/404.svg'
import serverError from '~/assets/image/500.svg'

export default {
  props: {
    error: {
      type: Object,
      default() {
        return {}
      }
    }
  }, // eslint-disable-line
  data() {
    return {
      exceptionImg: null
    }
  },
  created() {
    // this.$router.push('/expres-single')
    this.$nextTick(() => {
      const { statusCode } = this.error
      if (statusCode === 401) this.exceptionImg = noAuth
      else if (statusCode === 500) this.exceptionImg = serverError
      else this.exceptionImg = notFound
    })
  }
}
</script>
<style lang="stylus" scoped>
.exception
  position absolute
  width 500px
  top 50%
  left 50%
  transform translate(-50%,-50%)
  text-align center
  &-img
    height 360px
    width 100%
    max-width 430px
    background-repeat no-repeat
    background-position 50% 50%
  &-code
    font-size 72px
  &-msg
    color #8492a6
    font-size 20px
  .back-home
    background-color #91c42a !important
    color #fff
</style>
