@require '~assets/style/variable.styl'
@require '~assets/style/functions.styl'
.platform-business
  h2
      text-align center
      font-size 28px
      font-weight 500
      padding sizes(5) 0
      line-height 1
  .business-tab
    &__list
      display flex
      justify-content space-around
      padding-left 0
      li
        list-style none
        text-align center
        line-height 1
        cursor pointer
        transition all 0.3s ease
        margin-bottom 24px
        i.iconfont
          transition all 0.3s ease
          font-size sizes(5)
          color medium-grey-color
        img
          height 50px
        p
          color font-default-color
          font-size 16px
          margin 0
          padding-top 16px

        &:hover
          i.iconfont
            color green-color

        &::after
          content ''
          transition all 0.3s ease
          position relative
          top 14px
          display none
          border-width 10px
          border-style solid
          border-color transparent transparent bg-color transparent

        &.active
          position relative
          i.iconfont
            color green-color
          &::after
            display inline

    &__content
      background-color bg-color
      .v-carousel
        // height sizes(30)
        color font-default-color
        box-shadow none

