@require '~assets/style/variable.styl'
@require '~assets/style/mixins.styl'
@require '~assets/style/functions.styl'

.express-single__content .header-placeholder
  padding sizes(2) 0
  min-height: 450px
  .search-result
    boxShadow(0 0 sizes())
    border-radius 3px
    user-select text
    margin-bottom sizes(2)
    h4
      font-weight 500
      height sizes(5)
      line-height sizes(5)
      padding 0 sizes(2)
      font-size sizes(1.4)
      position relative
      user-select none
      &::before,
      &::after
        content ''
        position absolute
        top 12px
        display inline-block
        width sizes(1.2)
        height sizes(2.4)
        boxShadow(true 0 0 8px)


      &::before
        borderRadius(0 sizes(1.4) sizes(1.4) 0)
        left 0

      &::after
        borderRadius(sizes(1.4) 0 0 sizes(1.4))
        right 0

      .before-circle,
      .after-circle
        position absolute
        top 12px
        display inline-block
        width sizes(3)
        height sizes(2.4)
        background-color #fff
        border-radius sizes(5,'%')
        z-index 2

      .before-circle
        left sizes(-2.1)

      .after-circle
        right sizes(-2.1)


    &__logistics
      position relative
      padding-top 4px
      &::before
        content ''
        position absolute
        top 0
        display block
        height 4px
        width 100%
        background url('~assets/image/home_serch_strip.png') repeat




