<template>
  <ul class="carousel-content">
    <li
      v-for="(item,ids) in source"
      :key="ids">
      <h4 v-if="item.tit">{{ item.tit }}</h4>
      <template v-for="(cont,contIds) in item.content">
        <p :key="`cont${contIds}`">{{ cont }}</p>
      </template>
    </li>
  </ul>
</template>

<script>
export default {
  props: {
    source: {
      type: Array,
      default() {
        return []
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
.carousel-content
  list-style none
  line-height 1
  color #263240
  display flex
  flex-direction column
  justify-content center
  height 100%
  li
    padding-top 36px
    padding-left 60px
    &:first-of-type
      padding-top 0
    h4
      margin-bottom 12px
      font-size 16px

    p
      margin 0
      margin-bottom 12px
      font-size 14px

</style>
