<template>
  <ul class="carousel-content__left">
    <li
      v-for="(item,index) in carousel"
      :key="'carousel'+index">
      <div
        :class="{'last':carousel.length === index+1}"
        class="carousel-content__left--desc">
        <i class="iconfont icon-gou"/>
        <div>
          {{ item.s }}<br> {{ item.x }}
        </div>
      </div>
    </li>
    <li class="carousel-flex skip-btn">
      <v-btn
        large
        outline
        exact
        to="/register?type=2">
        我是物流商，马上入驻&nbsp;&nbsp;<i class="iconfont icon-dianji"/>
      </v-btn>
    </li>
  </ul>
</template>

<script>
export default {
  data() {
    return {
      carousel: [
        {
          s: '筛选多家优质的物流供应商入驻',
          x: '整合多条有优势的国际物流方案'
        },
        {
          s: '发往全球200多个国家地区',
          x: '提供全国多网点免费上门取件'
        },
        {
          s: '业务覆盖主要热门领域',
          x: '商务快递、电商小包、FBA等'
        }
      ]
    }
  }
}
</script>

<style lang="stylus" scoped>
  @import '~assets/style/variable.styl';
  .carousel-content
    &__left
      color font-default-color
      list-style none
      display flex
      align-items center
      justify-content center
      flex-direction row
      flex-wrap wrap
      height 100%
      padding 40px 0 40px 60px
      li
        // display: inline-block;
        width 50%

      &--desc
        display flex
        font-size 14px

      i.iconfont
        color green-color
        margin-right 10px
        font-size 14px

      .skip-btn
        padding-left 40px
        padding-top 20px
        .v-btn
          padding 0 10px
          height 50px
          border 1px solid green-color
          color green-color
          i.iconfont
            color medium-grey-color
            font-size 16px
    &__right
      color #fff
      position relative
      height 300px
      img
        position absolute
        left 90px
        bottom 0
</style>
