<template>
  <view-bg hide-foote>
    <div class="express-single">
      <div class="bg-header">
        <h1>海速跨境&#x3000;查件无忧</h1>
        <h6>800+快递&nbsp;&nbsp;智能查询</h6>
        <search-box
          v-model="search"
          :loading="loading"
          width="680px"
          height="50px"
          btn-width="120px"
          placeholder="请输入查询单号智能查件"
          @search="searchHandle">
          <p
            slot="desc"
            class="search-box__example">
            例如：900020512752xx
          </p>
        </search-box>
      </div>
      <div class="express-single__content">
        <v-fade-transition mode="out-in">
          <express-search
            v-loading="loading"
            v-if="search&&expressDetail.length>0"
            :img="expressImg"
            :data="expressDetail"
            class="page-container"/>
        </v-fade-transition>
        <v-fade-transition mode="out-in">
          <div v-if="!(search&&expressDetail.length>0)">
            <platform-for-business/>
            <platform-for-advantage/>
            <!-- <div class="app-about">
              <div class="page-container">
                <ul>
                  <h4>海速跨境APP即将上线</h4>
                  <li>随时随地在线查价</li>
                  <li>快速下单发货</li>
                  <li>实时跟踪物流信息</li>
                  <li>便捷支付</li>
                </ul>
                <img src="~/assets/image/home_image_3.1.png">
              </div>
            </div> -->
          </div>
        </v-fade-transition>
      </div>
      <alert
        ref="alert"
        :content="search?'抱歉，暂无查询记录 !':'请输入单号进行查询 !'"
        auto-close />
    </div>
    <foote style="background-color:#fff;"/>
  </view-bg>
</template>

<script>
import axios from 'axios'
import NoSSR from '../.nuxt/components/no-ssr'
import Alert from '~/components/Alert'
import ExpressSearch from '~/components/page/ExpressSingle/ExpressSearch'
import PlatformForBusiness from '~/components/page/ExpressSingle/PlatformForBusiness'
import PlatformForAdvantage from '~/components/page/ExpressSingle/PlatformForAdvantage'
import SearchBox from '~/components/SearchBox'
import Foote from '~/components/Foote'
export default {
  components: {
    Alert,
    ExpressSearch,
    PlatformForBusiness,
    PlatformForAdvantage,
    SearchBox,
    Foote
  },
  head: {
    title: '快速查件'
  },
  layout: 'base',
  data() {
    return {
      search: '',
      expressImg: '',
      expressDetail: [],
      comCode: '',
      loading: false
    }
  },
  watch: {
    search(n) {
      if (!n) {
        this.expressImg = ''
        this.expressDetail = []
      }
    }
  },
  methods: {
    async searchHandle(val) {
      if (this.loading) return
      try {
        if (!val) return
        this.loading = true
        const { data = {} } = await this.$http.searchOrderLogOrderId(val)
        this.expressDetail = data.orderLogs || []
        // const autonumber = await axios.get(
        //   `/autonumber/autoComNum?resultv2=1&text=${this.search}`
        // )
        // const { comCode = '' } = autonumber.data.auto[0]
        // this.comCode = comCode
        // this.expressImg = `https://cdn.kuaidi100.com/images/all/56/${comCode}.png`
        // const { data: express } = await axios.get(
        //   `/query?type=${comCode}&postid=${this.search}&temp=${Math.random()}`
        // )
        // this.expressDetail = express.data || []
      } catch (error) {
        this.expressImg = ''
        this.$refs.alert.show()
      } finally {
        this.loading = false
      }
    }
  }
}
</script>

<style lang="stylus" scoped>
@import '~assets/style/page/express-single.styl'
</style>
