<template>
  <div class="forget">
    <div class="page-container">
      <v-container class="py-0">
        <v-card class="forget-content">
          <v-toolbar
            height="58"
            color="light-barcolor"
            class="forget-bar">
            <!-- <img src="~/assets/image/logo.svg" alt="logo"> -->
            忘记密码
          </v-toolbar>
          <v-card-text class="forget-content__step flex xs12 sm9 md5">
            <v-stepper v-model="step">
              <v-stepper-header>
                <v-stepper-step
                  :complete="step > 1"
                  step="1">验证手机</v-stepper-step>
                <v-divider/>
                <v-stepper-step
                  :complete="step > 2"
                  step="2">修改密码</v-stepper-step>
                <v-divider/>
                <v-stepper-step step="3">完成</v-stepper-step>
              </v-stepper-header>
              <v-stepper-items>
                <v-stepper-content step="1">
                  <verify-phone-form @next="next" />
                </v-stepper-content>
                <v-stepper-content step="2">
                  <SetPwdForm
                    :phone="phone"
                    @amend="amend"/>
                </v-stepper-content>
                <v-stepper-content step="3">
                  <v-spacer/>
                  <div class="finish-desc">您已成功修改密码，将重新登录系统...</div>
                </v-stepper-content>
              </v-stepper-items>
            </v-stepper>
          </v-card-text>
        </v-card>
      </v-container>
    </div>
    <foote/>
  </div>
</template>
<script>
import Foote from '~/components/Foote'
import VerifyPhoneForm from '~/components/page/Forget/VerifyPhoneForm'
import SetPwdForm from '~/components/page/Forget/SetPwdForm'

export default {
  head: {
    title: '忘记密码'
  },
  layout: 'base',
  components: {
    Foote,
    VerifyPhoneForm,
    SetPwdForm
  },
  data() {
    return {
      step: 1,
      phone: null
    }
  },
  created() {
    if (process.client) localStorage.removeItem('user')
  },
  methods: {
    next(phone) {
      this.step = 2
      this.phone = phone
    },
    amend() {
      this.step = 3
      setTimeout(() => {
        this.$router.push('/')
      }, 2000)
    }
  }
}
</script>
<style lang="stylus" scoped>
@import '~assets/style/page/forget.styl'
</style>
