<template>
  <view-bg>
    <div style="padding-top:60px"/>
    <div class="page-container" >
      <v-container class="py-0">
        <v-fade-transition>
          <shipping-area/>
        </v-fade-transition>
      </v-container>
    </div>
  </view-bg>
</template>
<script>
import ShippingArea from '~/components/page/Shipping/Area.vue'
export default {
  head: {
    title: '海速寄件'
  },
  layout: 'base',
  components: {
    ShippingArea
  }
}
</script>
