.h-scrollbar 
  overflow hidden
  position relative


.h-scrollbar:active>.h-scrollbar__bar,
.h-scrollbar:focus>.h-scrollbar__bar,
.h-scrollbar:hover>.h-scrollbar__bar 
  opacity 1
  transition opacity 340ms ease-out


.h-scrollbar__wrap 
  overflow scroll
  height 100%


.h-scrollbar__wrap--hidden-default::-webkit-scrollbar 
  width 0
  height 0


.h-scrollbar__thumb 
  position relative
  display block
  width 0
  height 0
  cursor pointer
  border-radius inherit
  background-color rgba(144, 147, 153, .3)
  -webkit-transition .3s background-color
  transition .3s background-color


.h-scrollbar__thumb:hover 
  background-color rgba(144, 147, 153, .5)


.h-scrollbar__bar 
  position absolute
  right 2px
  bottom 2px
  z-index 1
  border-radius 4px
  opacity 0
  transition opacity 120ms ease-out


.h-scrollbar__bar.is-vertical 
  width 6px
  top 2px


.h-scrollbar__bar.is-vertical>div 
  width 100%


.h-scrollbar__bar.is-horizontal 
  height 6px
  left 2px


.h-scrollbar__bar.is-horizontal>div 
  height 100%

