.h-fade-in-enter,
.h-fade-in-leave-active,
.h-fade-in-linear-enter,
.h-fade-in-linear-leave,
.h-fade-in-linear-leave-active,
.fade-in-linear-enter,
.fade-in-linear-leave,
.fade-in-linear-leave-active 
  opacity 0


.fade-in-linear-enter-active,
.fade-in-linear-leave-active 
  transition opacity .2s linear


.h-fade-in-linear-enter-active,
.h-fade-in-linear-leave-active 
  transition opacity .2s linear


.h-fade-in-enter-active,
.h-fade-in-leave-active 
  transition all .3s cubic-bezier(.55, 0, .1, 1)


.h-zoom-in-center-enter-active,
.h-zoom-in-center-leave-active 
  transition all .3s cubic-bezier(.55, 0, .1, 1)


.h-zoom-in-center-enter,
.h-zoom-in-center-leave-active 
  opacity 0
  transform scaleX(0)


.h-zoom-in-top-enter-active,
.h-zoom-in-top-leave-active 
  opacity 1
  transform scaleY(1)
  transition opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transform-origin: center top


.h-zoom-in-top-enter,
.h-zoom-in-top-leave-active 
  opacity 0
  transform scaleY(0)


.h-zoom-in-bottom-enter-active,
.h-zoom-in-bottom-leave-active 
  opacity 1
  transform scaleY(1)
  transition opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transform-origin: center bottom


.h-zoom-in-bottom-enter,
.h-zoom-in-bottom-leave-active 
  opacity 0
  transform scaleY(0)


.h-zoom-in-left-enter-active,
.h-zoom-in-left-leave-active 
  opacity 1
  transform scale(1, 1)
  transition opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1)
  transition transform .3s cubic-bezier(.23, 1, .32, 1), opacity .3s cubic-bezier(.23, 1, .32, 1), -webkit-transform .3s cubic-bezier(.23, 1, .32, 1)
  transform-origin top left


.h-zoom-in-left-enter,
.h-zoom-in-left-leave-active 
  opacity 0
  transform scale(.45, .45)


.collapse-transition 
  transition .3s height ease-in-out, .3s padding-top ease-in-out, .3s padding-bottom ease-in-out


.horizontal-collapse-transition 
  transition .3s width ease-in-out, .3s padding-left ease-in-out, .3s padding-right ease-in-out


.h-list-enter-active,
.h-list-leave-active 
  transition all 1s


.h-list-enter,
.h-list-leave-active 
  opacity 0
  transform translateY(-30px)


.h-opacity-transition 
  transition opacity .3s cubic-bezier(.55, 0, .1, 1)

@keyframes rotating 
  0% 
    transform rotateZ(0)
  
  100% 
    transform rotateZ(360deg)
  

