<template>
  <div
    v-resize="onResize"
    :style="justifyContent"
    class="h-tabs__bar">
    <v-btn
      v-for="(tab,idx) in list"
      :ref="`tab${idx}`"
      :class="`h-tabs__bar--btn ${tabClass} ${idx==actived?'is-active':''}`"
      :key="'tab'+idx"
      :disabled="tab.disabled"
      :style="idx==actived?activeStyle:{}"
      small
      flat
      @click="tabsHadler(tab,idx)">
      {{ tab.label }}
    </v-btn>
    <div
      :style="sliderSty"
      class="h-tabs__bar--slider"/>
  </div>
</template>

<script>
export default {
  name: 'TabsBar',
  props: {
    list: {
      type: Array,
      default() {
        return []
      }
    },
    direction: {
      type: String,
      default: ''
    },
    tabClass: {
      type: String,
      default: ''
    },
    tabStyle: {
      type: Object,
      default() {
        return {}
      }
    },
    sliderStyle: {
      type: Object,
      default() {
        return {
          backgroundColor: '#91c42a'
        }
      }
    },
    activeStyle: {
      type: Object,
      default() {
        return {
          color: '#91c42a'
        }
      }
    },
    value: {
      type: Number,
      default: 0
    }
  },
  data() {
    return {
      sliderBaseStyle: {
        width: 0,
        left: 0
      },
      tabActive: 0
    }
  },
  computed: {
    sliderSty() {
      let sliderStyle = { ...this.sliderStyle }
      if (!sliderStyle.backgroundColor) sliderStyle.backgroundColor = '#91c42a'
      return {
        ...this.sliderBaseStyle,
        ...sliderStyle
      }
    },
    justifyContent() {
      const { direction } = this
      let orientation = 'flex-start'
      switch (direction) {
        case 'center':
          orientation = 'center'
          break
        case 'right':
          orientation = 'flex-end'
          break
        default:
          orientation = 'flex-start'
          break
      }
      return {
        justifyContent: orientation
      }
    },
    actived() {
      if (this.value) return this.value
      return this.tabActive
    }
  },
  watch: {
    actived(n) {
      this.computedTabWidth(n)
    }
  },
  mounted() {
    this.initTab()
  },

  methods: {
    initTab() {
      this.computedTabWidth(this.actived)
    },
    onResize() {
      this.computedTabWidth(this.actived)
    },
    tabsHadler(tab, idx) {
      this.tabActive = idx
      this.$emit('input', idx)
      this.$emit('active', tab, idx)
    },
    computedTabWidth(idx) {
      this.$nextTick(() => {
        let currentTab = this.$refs[`tab${idx}`][0].$el
        this.sliderBaseStyle = {
          width: currentTab.clientWidth + 'px',
          left: currentTab.offsetLeft + 'px'
        }
      })
    }
  }
}
</script>
<style lang="stylus" scoped>
  .h-tabs
    &__bar
      background-color #fff
      display flex
      align-items center
      position relative
      &--btn
        height 100%
        margin 0 2px 4px
        min-width auto
        padding 6px 12px
        font-weight 400
        color #263240
        &.v-btn--disabled
          color #bdc5d0
        &.is-active
          pointer-events none
      &--slider
        position absolute
        bottom 0
        height 2px
        z-index 10
        transition all 0.3s cubic-bezier(0.25, 0.8, 0.5, 1)

</style>
